html {
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000;
}


/* MAIN CONTAINER */
.main-container {
  width: 830px;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
}
header {
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 370px;
}

/* LOGIN-SECTION */
.login-title h3 {
  color: #374d58;
  font-size: 26px;
  font-weight: 500;
}
.login-line {
width: 78px;
height: 3px;
background-color: #ff3b45;
margin-top: -20px;
}
.login-area {
  width: 830px;
  display: flex;
  justify-content: center;
}
.login-wrap {
  display: flex;
  margin-top: 58px;
}
.login-input-wrap {
  display: flex;
  align-items: center;
}
.login-input-wrap p {
  width: 100px;
  margin-right: 24px;
  text-align: right;
}
.login-input-wrap input {
  width: 250px;
  height: 45px;
  font-size: 16px;
  margin-right: 10px;
  padding:  0 0 0 10px;
  box-sizing: border-box;
  border: solid 1px #e0e0e0;
}
input::placeholder {
  color: #909090;
  font-weight: 300;
}

#login-button {
  background-color: #ff3b45;
  width: 120px;
  height: 100px;
  text-align: center;
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
  margin-top: 4px;
}