html {
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000;
}

/* HEADER - TOP WRAP */
.top-wrap {
  width: 100%;
  height: 75px;
}
.top-bar {
  display: flex;
  max-width: 1140px;
  height: 75px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.date-area {
  display: flex;
  align-items: baseline;
  height: 100%;
}
.logininfo {
  display: flex;
  height: 100%;
  align-items: baseline;
  margin-top: 0;
}
.logininfo p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #606060;
  margin-right: 10px;
  margin-bottom: 50px;
}
.logininfo button {
  /* margin-top: -20px; */
  background-color: #f2f2f2;
  width: 98px;
  height: 25px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  color: #606060;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

/* POP UP */
.popup {
  background-color: #fff;
  position: fixed;
  width: 910px;
  height: 90%;
  margin: 50px auto 0 auto;
  left: 0;
  right: 0;
  border: 2px solid #000;
  color: #606060;
  display: none;
}
.popup-content {
  height: 100%;
  overflow-y: scroll;
}
.popup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001942;
  text-align: center;
  height: 94px;
  color: #fff;
  padding: 0 30px;
}
.beforetop {
  background-image: url(../img/poll_bg.jpg);
  background-size: cover;
  background-position: center;
}
.close-button {
  position: relative;
  width: 32px;
  height: 32px;
  border: 0px solid #fff;
  border-radius: 32px;
  cursor: pointer;
}
.close-line-1 {
  background-color: #fff;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  margin-top: 15px;
  margin-left: 6.4px;
}
.close-line-2 {
  background-color: #fff;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
  margin-left: 6.4px;
  margin-bottom: 2px;
}
.hideBtn {
  opacity: 0;
}
.popup-image-wrap {
  font-weight: 500;
}
.popup-image-wrap p {
  text-align: right;
  font-size: 0.8em;
}
.popup-image-wrap .red {
  color: #c8000b;
}
.popup-image-wrap .select {
  font-size: 0.7em;
  margin-left: 5px;
}
.popup-image-area {
  display: flex;
  background-color: #dfeaf0;
  height: 405px;
  align-items: center;
  justify-content: center;
}
.answer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.popup-text-area {
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  margin: 0 auto;
}
.answer-box {
  border: 1px solid #606060;
}
.answer-line {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 7px 10px 7px 14px;
  align-items: center;
}
.answer-red {
  color: #c8000b;
  font-weight: 600;
}
.l1, .l3, .l5, .l7, .l9 {
  background-color: #f6f6f6;
}
.l2, .l4, .l6, .l8 {
  background-color: #ffffff;
}
.line-text {
  font-size: 0.8rem;
}
.per {
  color: #989898;
  font-weight: 300;
}
.q5 input {
  width: 100%;
  height: 180px;
}
.submit-button {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.submit-button input {
  width: 274px;
  height: 48px;
  background-color: #c8000b;
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 20px;
  border: 0;
  outline: 0;
}

/* POPUP - NEW (LECTURE) */
.newpop {
  background-color: #fff;
  position: fixed;
  width: 1020px;
  height: 90%;
  margin: 50px auto 0 auto;
  left: 0;
  right: 0;
  border: 2px solid #000;
  color: #606060;
  display: none;
}
.newtop {
  background-color: #fff;
  height: 50px;
  padding: 3px 10px;
}
.newcontent {
  /* margin: 50px; */
}
.btn-color {
  border: 0px solid #606060;
}
.line-color {
  background-color: #606060;
}
.video-area {
  background-color: #fff;
  width: 100%;
  height: 512px;
}
.video-area iframe {
  width: 100%;
  height: 100%;
}
.video-area p {
  font-size: 0.8rem;
  margin-right: 50px;
  margin-top: 4px;
  text-align: right;
}
.video-info-area {
  margin: 20px 0px 20px 50px;
}
.video-info-area h4 {
  color: #0671b3;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: -10px;
}
.video-info-area p {
  font-size: 1rem;
  font-weight: 500;
}
.video-info-area p span {
  font-size: 0.8rem;
  margin-left: 10px;
}
.video-ad-area {
  width: 100%;
}
.video-ad-area img {
  width: 91%;
  margin: 0px 50px;
}
.video-reply-area {
  margin: 20px 0px 20px 50px;
}
.reply-write {
  width: 100%;
  display: flex;
  align-items: center;
}
.reply-write input {
  width: 775px;
  height: 40px;
  font-size: 0.9rem;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid #606060;
}
.reply-write button {
  background-color: #c8000b;
  width: 100px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-left: 15px;
}
.video-reply-list-area {
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

/* DIM */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

/* QUICK BANNER */
.quick-banner {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 99;
  display: block;
}
.quick-banner img {
  margin: 7px;
}

/* SECTION - LIST MAIN */
.list-main-wrap {
  width: 100%;
}
.list-main-wrap img {
  width: 100%;
}
.list-thumb-wrap {
  display: flex;
  max-width: 1140px;
  margin: 70px auto;
  justify-content: space-between;
}
.list-thumb {
  cursor: pointer;
}
.list-thumb img {
  border: 1px solid #c7c7c7;
}
.list-thumb h5 {
  margin: 10px 0 0 10px;
}
.list-thumb p {
  font-size: 0.8em;
  color: #606060;
  font-weight: 500;
  margin: 3px 0 0 10px;
}
.list-main-banner-warp {
  width: 100%;
}
.list-main-banner-warp img {
  width: 100%;
}

/* SECTION - LIST SUB */
.list-sub-container {
  background-image: url(../img/sub_main.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  background-color: #000;
  width: 100%;
  height: 653px;
  align-items: center;
}
.list-sub-wrap {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}
.list-sub-wrap h5 {
  color: #fff;
  margin: 10px 0 0 10px;
}
.list-sub-wrap p {
  font-size: 0.8em;
  color: #fff;
  font-weight: 500;
  margin: 10px 0 0 10px;
}
.list-thumb ul {
  padding-inline-start: 30px;
  margin: 0px;
}
.list-thumb li {
  font-size: 0.8em;
  font-weight: 600;
}
.live-surgery1, .live-surgery2-1, .live-surgery2-2 {
  cursor: pointer;
}
.live-surgery2-2 {
  margin-top: 26px;
}
.ad-banner-wrap {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}
.poll-button {
  display: flex;
  background-color: #c8000b;
  width: 1140px;
  height: 60px;
  border: 0;
  outline: 0;
  margin: 10px auto 80px auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.poll-button span {
  font-size: 0.5rem;
  margin-left: 8px;
}

/* FOOTER - BOTTOM WRAP */
.bottom-wrap {
  background-color: #e6e6e6;
  width: 100%;
  height: 120px;
}
.bottom-bar {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 60px;
  align-items: baseline;
}
.bottom-bar p {
  font-size: 0.7em;
  font-weight: 500;
  color: #989898;
  margin-left: 10px;
}
.bottom-bar img {
  width: 113px;
  height: 31px;
}